<!DOCTYPE html>
<html lang="en">
  <body>
    {{ body }}
    {{{ renderVueComponent "Counter" initialCount=4 }}}
    {{{ renderVueComponent "Counter" initialCount=2 }}}
    {{{ renderVueComponent "Assets" }}}
  </body>
</html>
