<!DOCTYPE html>
<html lang="en">
  <body>
    <div>{{ body }}</div>
    {{{ renderVueComponent "Counter" initialCount=4 }}}
    {{{ renderVueComponent "Counter" initialCount=2 }}}
    {{{ renderVueComponent "Assets" }}}
  </body>
</html>
